/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
}

.marquee {
  list-style-type: none;
  white-space: nowrap;
  display: inline-block;
  animation: marquee 30s linear infinite;
  display: flex;
}

@media (max-width: 768px) {
  .marquee {
    animation: marquee 10s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee li {
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 8px;
  margin: 0 4px; /* Add some spacing between each crypto price */
  font-family: 'Poppins', sans-serif; /* Set the desired font-family */
  font-weight: 500; /* Set the desired font-weight */
  text-transform: capitalize;
}

/* For Mobile Devices */
@media (max-width: 768px) {
  .marquee li {
    padding: 0 8px;
    margin: 0 2px;
  }
}

.marquee-item {
  display: flex;
  flex-direction: column;
}

.green {
  color: green;
}

.exchange-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.crypto-logo-container li {
  display: flex;
  align-items: center;
}
.crypto-logo-container li img {
  border-radius: 2px;
}
.exchange-link {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

/* For Mobile Devices */
@media (max-width: 768px) {
  .exchange-link {
    font-size: 12px;
  }
  .mediaForTimerAndMarquee {
    display: flex;
    flex-direction: column;
  }
}
